{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            {% if image %}
            <h2> {{image|length}} pictures found for location {{message}} </h2>
            {% else %}
            <h2> No pictures found for keyword {{message}} </h2>
            {% endif %}
        </div>
    </div>


    {% if image %} {% for my_image in image %}
    <div class="row">
        <div class="col-md-6">
            <h1> {{my_image.name}}</h1>
            <img width="450px" src="{{my_image.image.url}}" alt="image">
            <h3>{{image.description}}</h3>
            <h3>{{image.location}}</h3>
        </div>
        {% endfor %} {% endif %}
    </div>
</div>

<style>
    body {
        background-image: url("https://images.pexels.com/photos/1592384/pexels-photo-1592384.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
        height: 90vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
    }
</style>
{% endblock %}