{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="row">
        <h1> {{pic.name}} </h1>
        <img class="img-responsive" width="450px" src=" {{pic.image.url}} " alt="img">
        <p> {{pic.description}} </p>
        <p> {{pic.location}} </p>
        <p>Category: {{pic.category}} </p>
        <p>Author: {{pic.author}} </p>
    </div>
</div>
<style>
    body {
        background-image: url("https://images.pexels.com/photos/1592384/pexels-photo-1592384.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
        height: 90vh;
        background-position: center;
        background-attachment: scroll;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        padding-top: 10%;
    }
</style>{% endblock %}